
/* RESETS

============================================ */

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

// body {
//     margin: 20px 0;
//     padding-left: 50px;
//     padding-right: 50px;
//     line-height: 1;
//     font-family: 'Roboto', sans-serif;
//     color: #202020;
//     background-color: #fbfbfb;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// body{
//     padding-top:90px
// }

// @media (min-width:768px){
//     body{padding-top:0}
// }




// .navbar.fixed-left{
//     position:fixed;
//     top:0;
//     left:0;
//     right:0;
//     z-index:1030;
// }

a{
    color: rgba(255, 255, 255, 0.5) !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem !important;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.thumbnail img{
    overflow: hidden;
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
}

.caption .githubIcon{
    padding-top: 0.45px;
    width: 60px;
}

.caption .linkedinIcon{
    width: 46px;
}

// @media (min-width:768px){
//     .navbar.fixed-left{
//         bottom:0;
//         width:232px;
//         flex-flow:column nowrap;
//         align-items:flex-start;
//     }
//     .navbar.fixed-left .navbar-collapse{
//         flex-grow:0;
//         flex-direction:column;
//         width:100%
//     }
//     .navbar.fixed-left .navbar-collapse .navbar-nav{
//         flex-direction:column;
//         width:100%
//     }.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item{
//         width:100%
//     }.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
//         top:0
//     }
// }

// @media (min-width:768px){
//     .navbar.fixed-left{
//         right:auto;
//     }.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after{
//         border-top:.3em solid transparent;
//         border-left:.3em solid;
//         border-bottom:.3em solid transparent;
//         border-right:none;
//         vertical-align:baseline
//     }
//     .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu{
//         left:100%
//     }
// }
$navbar-dark-active-color: rgb(255, 0, 55);


.createTestBtn {
    margin-right: 10px !important;
}
.carousel {
    width:500px;
    height:500px;
    margin: auto;
  }



.content {
    padding-top: 100px;
}
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";